/*--------INICIO--------*/
main{
    .hero{
        background-image: url(../img/logoafa.jpg);
        background-attachment: fixed;
        width: 100%;
        h2{
            text-align: center;
            font-size: 50px;
            font-style: italic;
            font-weight: 600;
            padding-top: 100px;
        }
        .intro{
            display: flex;
            background-color: rgba(255, 254, 254, 0.363);
            display: flex;
            font-size: 25px;
            font-style: italic;
            font-weight: 700;
            padding: 0px 100px 0px 100px;
            margin: 0px;
            align-items: center;
            img{
                margin-top: 5px;
                border: 3px black solid;
            }
            p{
                margin-left: 15px;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
            }
        }
    }
}
        .contenedor{
            display: flex;
            justify-content: space-between;
            .tarjetas{
                display: flex;
                text-align: center;
                flex-direction: column;
                background-color: #d7dae6cc;
                border: 2px black solid;
                margin: 150px 25px 150px 25px;
                padding: 25px;
                transition: 2s;
                &:hover{
                    transform: scale(1.1);
                }
                img{
                    width: 100%;
                }
                h3{

                }
                a{
                    color: white;
                    font-weight: 900;
                    background-color: #132B82;
                    margin: 10px;
                    padding: 10px;
                }
            }
        }

/*---------LASELECCION---------*/

main{
    .carrusel{
        div{
            .carousel-indicators{
                button{

                }
            }
            .carousel-inner{
                        
                .carousel-item{
                        
                    img{
                        width: 70%;
                        height: 400px;
                        margin-top: 50px;
                    }
                }
            }
        }
    }
    
    .seleccion{
        background-image: url(../img/logoafa.jpg);
        background-attachment: fixed;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 25px;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 400px;
        gap: 20px;
        div{
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            }
            h2{
                position: absolute;
                bottom: 15px;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.63);
                text-align: center;
                font-size: 45px;
            }
        }
    }
}

/*---------HISTORIA---------*/

main{
    background-image: url(../img/logoafa.jpg);
    width: 100%;
    background-attachment: fixed;
    .historia{
        .historiaScaloni{
            background-color: #d7dae6cc;
            padding: 20px;
            margin: 0px 30px 0px 30px;
            border: black 3px solid;
            @include flex (flex, column, center);    
            text-align: center;
            h2{
                font-size: 45px;
                background-color: #132B82;
                color: white;
                width: 80%;
            }
            p{
                font-size: 25px;
                font-weight: 600;
            }
            img{
                width: 600px;
                height: 400px;
                border: black 2px solid;
                box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
            }
            }
        }
    }

    /*---------COPA AMERICA---------*/

    main{
        .copa{
            background-image: url(../img/copaamericafondo.jpg);
            width: 100%;
            background-size: cover;
            background-position: center;
            .copaAmerica{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: justify;
                background-color: rgba(255, 213, 4, 0.253);
                margin: 0px 30px 0px 30px;
                border: black 3px solid;
                h2{
                    text-align: center;
                    font-size: 45px;
                    background-color: #132b82;
                    color: white;
                    margin-top: 25px;
                    width: 80%;
                    animation-name: slide;
                    animation-duration: 3s;
                    animation-timing-function: ease-in-out;

                }
                p{
                    margin-top: 25px;
                    font-size: 25px;
                    font-weight: 700;
                    background-color: #132b82e8;
                    color: white;
                    padding: 10px;
                }
                img{
                    width: 50%;
                    height: 400px;
                    }
                
                }
            }
 }
        .barra{
            font-size: 45px;
            font-weight: 800;
            text-align: center;
            margin-top: 25px;
            background-color: #132B82;
            color: white;
            width: 100%;
        }
        .desarrolloAmerica{
            .partidos{
                background-color:#d7dae6cc;
                margin: 25px;
                border: black 3px solid;
                display: flex;
                div{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h2{

                        }
                    p{
                        font-size: 20px;
                        font-weight: 400;
                        }
               }
            img{
                width: 500px;
                height: 300px;
            }
        }
    }

    /*---------FINALISSIMA---------*/

    main{
        .finalissima{
            background-image: url(../img/finalissimafondo.jpg);
            width: 100%;
            background-size: cover;
            background-position: top;
            .argItalia{
                background-color: #d7dae6cc;
                padding: 20px;
                margin: 0px 30px 0px 30px;
                border: black 3px solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2{
                    font-size: 45px;
                    background-color: #132B82;
                    color: white;
                    width: 80%;
                    animation-name: slide;
                    animation-duration: 3s;
                    animation-timing-function: ease-in-out;
                }
                p{
                    font-size: 25px;
                    font-weight: 600;
                }
                img{
                    width: 800px;
                    height: 500px;
                    box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
                -webkit-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
                -moz-box-shadow: 10px 10px 19px 0px rgba(0,0,0,0.7);
                }
                h3{
                    background-color: #132B82;
                    font-size: 40px;
                    margin-top: 25px;
                    color: white;
                    width: 60%;
                }
            }
        }
    }

    /*---------MUNDIAL QATAR 2022---------*/

    main{
        .qatar{
            background-image: url(../img/qatarfondo.jpg);
            width: 100%;
            background-size: cover;
            .qatarInfo{
                background-color: rgb(143,4,59);
                padding: 20px;
                margin: 0px 30px 0px 30px;
                border: black 3px solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h2{
                    background-color: white;
                    color: black;
                    font-size: 45px;
                    width: 80%;
                    margin-top: 25px;
                    animation-name: slide;
                    animation-duration: 3s;
                    animation-timing-function: ease-in-out;
                }
                p{
                    color: white;
                    font-size: 20px;
                }
                .logoMundial{
                    width: 50%;
                    height: 400px;
                }
                h3{
                    background-color: white;
                    width: 60%;
                    margin-top: 20px;
                }
                .partidosQatar{
                    display: flex;
                    img{
                        width: 500px;
                        height: 300px;
                        border: 2px white solid;
                    }
                }
            }
        }
    }

    /*---------CONTACTO---------*/

    main{
        .contacto{
            background-image: url(../img/logoafa.jpg);
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .contenedor{
                background-color: rgba(255, 254, 254, 0.363);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                h2{
                    font-size: 45px;
                }
                p{
                    font-size: 25px;
                }
                form{
                    div{
                        label{

                        }
                        input{

                        }
                    }
                    div{
                        h3{

                        }
                        div{
                            label{

                            }
                            input{

                            }
                        }
                    }
                    div{
                        h3{

                        }
                        textarea{

                        }
                    }
                    div{
                        input{

                        }
                    }

                }
                .video{
                    display: flex;
                    align-items: center;
                    background-color: #d7dae6cc;
                    border: 2px black solid;
                    margin: 10px;
                    h3{
                        font-size: 25px;
                        margin: 10px;
                    }
                    iframe{

                    }
                }
            }
        }
    }
